.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.controlArea{
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.controlArea span{
  background-color: #61dafb;
  padding: 10px;
  border-radius: 5px;
}
.controlArea span:hover{
  opacity: 0.8;
  transition: 10ms;
  cursor: pointer;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
